// =========================
// Component Name: Chat Support
// Component Type: External Component
// =========================
#woInvite {
    bottom: 106px;
    right: 0;
    position: fixed;
	top: auto !important;
	left: initial !important;
}