//  ---------------------------------------------------------------------------
//  Support Copy
//  ---------------------------------------------------------------------------

.signposts {
  padding: $padding-component-vertical 0;

  .signposts-items {
    // Bootstrap containers
  }

  &-row {
    // Bootstrap container, added class for future alterations if needed
  }

  &-column {
    margin-bottom: 2em;

    @include breakpoint(screen-medium) {
      margin-bottom: 0;
    }
  }

  .img-container {
    margin-bottom: 1em;

    img,
    svg {
      display: block;
      width: 30%;
      max-width: 70px;
      height: auto;
      max-height: 70px;
      margin: 0 auto;
    }
  }

  &-content {
    max-width: 30em;
    margin: 0 auto;
    text-align: center;
  }

  &-title {
    position: relative;
    padding-bottom: .75em;
    margin-top: .75em;
    margin-bottom: .75em;

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 3em;
      height: 2px;
      background: $cool-grey-xlight;
      transform: translateX(-50%);
    }
  } // signposts-title

  &-description { }

  &-links {
    @include nobullets;
    margin-bottom: 0;

    > li:last-of-type {
      margin-bottom: 0;
    }
  }

  &-cta {
    @include cta;
  }
}
