/* Code Revised Dec 2, 2016 by Dan

// Tabs
// ===================================

// Give the tabs something to sit on
.nav-tabs {
  border-bottom: 1px solid $cool-grey;
  padding-left: 4px;
  margin: 0 auto 1em;
  > li {
    float: left;
    // Make the list-items overlay the bottom border
    margin-bottom: -1px;
    // Actual tabs (as links)
    > a {
      @include transition(all .25s ease) {}
      //box-shadow: inset 0px -3px 0px 0px rgba(0,0,0,0.05);
      font-weight: bold;
      color: $cool-grey-dark;
      margin-right: 4px;
      line-height: $line-height-base;
      //border: 1px solid $warm-grey-light;
      border: 1px solid $cool-grey;
      //border-bottom-color: transparent;
      border-radius: $border-radius-base $border-radius-base 0 0;
      background-color: $cool-grey-xxxlight;
      padding: .5em 1em;
      &:hover {
        background-color: $white;
        border: 1px solid $cool-grey;
      }
    }
    // Active state, and its :hover and :focus to override bootstrap's
    &.active > a,
    &.active > a:hover,
    &.active > a:focus {
      //box-shadow: none;
      color: $grey-xdark;
      border-left: 1px solid $cool-grey;
      border-right: 1px solid $cool-grey;
      border-top: 1px solid $cool-grey;
      cursor: pointer;
    }
  }
}

//.nav-tabs>li.active>a,
//.nav-tabs>li.active>a:hover {
//  border-top: 1px solid #B5B2B1;
//  border-right: 1px solid #B5B2B1;
//  border-left: 1px solid #B5B2B1;
//  border-bottom-color: transparent;
//}

// Give the mobile users the following:
// ------------------------------------
@media screen and (max-width: $screen-md) {
  .nav-tabs {
    // display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 48px;
    background-color: $cool-grey-xxxlight;
    width: 100%;
    white-space: nowrap;
    box-shadow: 0 0 0 0 rgba($absolute-black, 0.16), 0 2px 4px 0 rgba($absolute-black, 0.15);
    padding-left: 0;
    border-bottom: none;
    &::-webkit-scrollbar {
      display: none;
    }
    li {
//      Commented below is the stuff that was in place when we had problems with iOS8 packing the tabs in to one row.  Below the commented is what it has been changed to to fix the problem. keeping this for now in the event we need to revert.  Robin Rowell - 2016/9/12
//      -webkit-box-flex: 1;
//      -webkit-flex-grow: 1;
//      -ms-flex-positive: 1;
//      //flex-grow: 1;
//      -webkit-flex-shrink: 0;
//      flex-shrink: 0;
//      -webkit-flex-grow: 1;
//      -moz-flex-grow: 1;
//      -ms-flex-grow: 1;
//      -o-flex-grow: 1;
//      flex-grow: 1;
      -webkit-flex-shrink: 0;
      -moz-flex-shrink: 0;
      -ms-flex-shrink: 0;
      -o-flex-shrink: 0;
      flex-shrink: 0;
      border-right: 1px solid $warm-grey-xxlight;
      a {
        border: none;
        margin-right: 0;
        line-height: 32px;
        text-align: center;
        padding-bottom: 1em;
        font-size: inherit;
      }
      &> .active a {
        border: none;
      }
      &.active {
        border-bottom: 5px solid $nxp-orange;
      }
    }
  }
  .nav-tabs > li.active a,
  .nav-tabs > li.active > a:hover,
  .nav-tabs > li.active > a:active,
  .nav-tabs > li.active > a:focus,
  .nav-tabs > li > a:hover,
  .nav-tabs > li > a:active,
  .nav-tabs > li > a:focus
   {
    border: none;
    background-color: inherit;
  }
}
End Code Revised Dec 2, 2016 by Dan */

// Desktop Underlined style revision: 2017-01 - Robin Rowell
//  ---------------------------------------------------------------------------
//  Tabs
//  ---------------------------------------------------------------------------
//.nav-tabs {
//  display: flex;
//  position: relative;
//  width: 100%;
//  height: 48px;
//  padding-left: 0;
//  margin: 0 auto 1em;
//  overflow-x: scroll;
//  overflow-y: hidden;
//  white-space: nowrap;
//  background-color: $cool-grey-xxxlight;
//  border-bottom: none;
//  box-shadow: 0 0 0 0 rgba($absolute-black, 0.16), 0 2px 4px 0 rgba($absolute-black, 0.15);
//  @include breakpoint(screen-medium) {
//    height: auto;
//    padding-left: 4px;
//    overflow: visible;
//    white-space: normal;
//    background: none;
//    box-shadow: none;
//  }
//  &::-webkit-scrollbar {
//    display: none;
//  }
//  > li {
//    display: flex;
//    float: left;
//    flex-shrink: 0;
//    margin-bottom: -1px;
//    border-right: 1px solid $warm-grey-xxlight;
//    @include breakpoint(screen-medium) {
//      flex-shrink: 1;
//      border-right: none;
//    }
//    > a {
//      @include transition(all .25s ease);
//      display: flex;
//      align-items: center;
//      padding: 14px 1em 1em;
//      font-size: inherit;
//      font-weight: bold;
//      line-height: $line-height-base;
//      color: $grey-xdark;
//      text-align: center;
//      background-color: $cool-grey-xxxlight;
//      border: none;
//      border-radius: $border-radius-base $border-radius-base 0 0;
//      @include breakpoint(screen-medium) {
//        padding: .5em 0 .5em;
//        margin-right: 2em;
//        border: none;
//        border-bottom: 4px solid transparent;
//        border-radius: 0;
//        font-family: $headings-font-family;
//        text-transform: uppercase;
//        background-color: transparent;
//      }
//
//      &:active,
//      &:focus,
//      &:hover {
//        border: none;
//        background-color: inherit;
//      }
//      @include breakpoint(screen-medium) {
//        &:hover {
//          border-bottom: 4px solid $nxp-orange;
//          color: $grey-xdark;
//        }
//      }
//    }
//    &.active {
//      box-shadow: 0 -5px 0 0 $nxp-orange inset;
//      @include breakpoint(screen-medium) {
//        box-shadow: none;
//      }
//    }
//    &.active > a,
//    &.active > a:hover,
//    &.active > a:focus {
//      border: none;
//      background-color: inherit;
//      @include breakpoint(screen-medium) {
//        color: $nxp-black;
//        cursor: pointer;
//        border-bottom: 4px solid $nxp-orange;
//      }
//    }
//  }
//}
// Blocked style revision: 2017-01 - Robin Rowell
//  ---------------------------------------------------------------------------
//  Tabs
//  ---------------------------------------------------------------------------
.nav-tabs {
  position: relative;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  width: 100%;
  height: 48px;
  margin: 0 auto 1em;
  white-space: nowrap;
  background-color: $cool-grey-xxxlight;
  border-bottom: none;
  box-shadow: 0 0 0 0 rgba($absolute-black, 0.16),
    0 2px 4px 0 rgba($absolute-black, 0.15);

  @include breakpoint(screen-medium) {
    overflow: visible;
    height: auto;
    white-space: normal;
    box-shadow: none;
  }

  //  Color background band styles
  //  default styles for full-width layout
  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: -1px; // set instead of height, offset 1px for neg margins on nav
    right: 50%;
    display: block;
    width: 100vw;
    background-color: $cool-grey-xxxlight;
    // border-bottom: 1px solid $warm-grey-xxlight;
    border-bottom: 1px solid rgba($absolute-black, 0.15);
    transform: translateX(50%);
    z-index: -1;
  }
  // Color background band styles
  //  styles for right column layout
  .col-lg-12 .col-lg-9 & {
    &:before {
      @media screen and (min-width: 768px) {
        width: calc(100vw - 250px);
        // transform: translateX(calc(-50% - 125px));
        // offset by half of left column width
      }

      @media screen and (min-width: 1200px) {
        width: calc(100vw - 300px);
        // transform: translateX(calc(-50% - 150px));
        // offset by half of left column width
      }
    }
  }

  &::-webkit-scrollbar {
    display: none;
  }

  > li {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    margin-bottom: -1px;
    border-right: 1px solid $warm-grey-xxlight;

    @include breakpoint(screen-medium) {
      flex-shrink: 1;
      border-right: none;
    }

    > a {
      @include transition(all 0.25s ease);
      display: flex;
      // added for Home example, shouldn't notice change on other tabs
      justify-content: center;
      align-items: center;
      flex-grow: 1;
      padding: 14px 1em 1em;
      font-size: inherit;
      font-weight: bold;
      line-height: $line-height-base;
      color: $grey-xdark;
      text-align: center;
      background-color: $cool-grey-xxxlight;
      border: none;
      border-radius: $border-radius-base $border-radius-base 0 0;

      @include breakpoint(screen-medium) {
        padding: 1em 2em;
        border-top: 1px solid rgba($absolute-black, 0.15);
        border-right: 1px solid rgba($absolute-black, 0.15);
        border-bottom: 1px solid rgba($absolute-black, 0.15);
        border-radius: 0;
        font-family: $headings-font-family;
        font-size: 85.7%;
        text-transform: uppercase;
        background-color: $cool-grey-xxxlight;
        margin-right: 0;
      }

      &:active,
      &:focus,
      &:hover {
        border: none;
        background-color: inherit;
      }

      @include breakpoint(screen-medium) {
        &:hover {
          color: $grey-xdark;
          border-top: 1px solid rgba($absolute-black, 0.15);
          border-right: 1px solid rgba($absolute-black, 0.15);
          border-bottom: 1px solid rgba($absolute-black, 0.15);
          background-color: $cool-grey-xxlight;
        }
      }
    }

    &.active {
      box-shadow: 0 -5px 0 0 $nxp-orange inset;
      @include breakpoint(screen-medium) {
        box-shadow: none;
        position: relative;
      }
    }

    &.active > a,
    &.active > a:hover,
    &.active > a:focus {
      border: none;
      background-color: inherit;

      @include breakpoint(screen-medium) {
        color: $black;
        cursor: pointer;
        background-color: white;
        border-top: 1px solid rgba($absolute-black, 0.15);
        border-right: 1px solid rgba($absolute-black, 0.15);
        border-bottom: 1px solid rgba(255, 255, 255, 1);
      }
    }
  }

  @include breakpoint(screen-medium) {
    > li:first-of-type > a,
    > li.active:first-of-type > a,
    > li.active:first-of-type > a:hover {
      border-left: 1px solid rgba($absolute-black, 0.15);
    }
  }
}

//  ---------------------------------------------------------------------------
//  Home Tabs - added by Daniel 03-23-2017
//  ---------------------------------------------------------------------------
.home-tabs {
  .nav-tabs {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;

    > li {
      flex-grow: 1;
      //      margin-bottom: 0;

      a {
        width: 100%;
        text-transform: uppercase;
        font-weight: 400;
        font-family: 'Lato', arial, sans-serif;
        text-decoration: none;
        padding: 1em;
      }
    }
  }

  @include breakpoint(screen-medium) {
    .nav-tabs > li.active > a,
    .nav-tabs > li > a,
    .nav-tabs > li > a:hover,
    .nav-tabs > li > a:active,
    .nav-tabs > li:first-of-type > a,
    .nav-tabs > li:first-of-type > a:hover,
    .nav-tabs > li.active:first-of-type > a,
    .nav-tabs > li.active:first-of-type > a:hover,
    .nav-tabs > li.active > a:focus {
      border-color: white;
    }
    .nav-tabs > li > a {
      background-color: transparent;
    }
    .nav-tabs > li.active > a {
      background-color: $white;
    }
    .nav-tabs > li > a:hover {
      background-color: rgba(0, 0, 0, 0.05);
    }
	.nav-tabs > li{
		&.active > a > span{
			border-bottom:3px solid #ffa700;
		}
		&:not(.active) {
			> a > span{
				border-bottom:3px solid transparent;
			}
			&:hover > a > span{
				border-bottom:3px solid transparent;
			}
		}
	}
  }
}

//  ---------------------------------------------------------------------------
//  Nav Grow Tabs - tabs span full content area (make global?)
//  ---------------------------------------------------------------------------
.nav-tabs.nav-grow {
  //  @include container-inner;
  padding: 0;
  box-shadow: none;

  > li {
    flex-grow: 1;

    > a {
      flex-grow: 1;
    }
  }
}

//  ---------------------------------------------------------------------------
//  Tab Panel and Content containers
//  ---------------------------------------------------------------------------
.tab-content {
  // tabs have 1em bottom margin, giving 3em total spacing
  padding-top: 2em;
}

.tab-pane {
  > :first-child {
    // remove top padding, since it should be covered by tabs and tab-content
    padding-top: 0;
    margin-top: 0;
  }
}
